body {
    font-family: Arial, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
}

th {
    background-color: #f2f2f2;
}

.hora {
    background-color: #e0e0e0;
    font-weight: bold;
}

.recreo {
    background-color: yellow;
    font-weight: bold;
}

/* Colores específicos para cada clase */
.badat {
    background-color: #ffcccb; /* Rojo claro */
}

.lmsgi {
    background-color: #ccffcc; /* Verde claro */
}

.endes {
    background-color: #cce5ff; /* Azul claro */
}

.progr {
    background-color: #ffeb99; /* Amarillo claro */
}

.siinf {
    background-color: #d4a6ff; /* Púrpura claro */
}

.daspgs {
    background-color: #ffb3b3; /* Rosa claro */
}

.ipe1 {
    background-color: #ffff99; /* Amarillo pastel */
}

.sost {
    background-color: #b3ffd9; /* Verde agua */
}
